
body {
  background-color: lightblue;
  line-height: 1.5;
  font-size: 100%;
  /*color: lightblue;*/
  margin: 50px;
}

h1 {
  text-align: center;
  /*margin: 1em;*/
  /*width: 80%;*/
}

h2 {
  text-align: center;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 2em;
}


/*LINK STYLES
=======================================*/

.resume {
  display: none;
}